<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CORDS TEST</title>

	<script type="text/javascript"> //<![CDATA[ 
		var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
		document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
	//]]>
	</script>
</head>
<body>
	<script language="JavaScript" type="text/javascript">
		// TrustLogo("https://www.pixelpay.app/public/comodo_secure_seal_113x59_transp.png", "SC7", "none");
	</script>

	<div id="comodoLogo">
		<script language="JavaScript" type="text/javascript">
		TrustLogo("{{ url('/public/images/comodo_secure_seal_113x59_transp.png') }}", "SC7", "none");
		</script>
	</div>
</body>
</html>