{% extends "layouts/flat" %}

{% block content %}
<div class="middle-wrap">
	<div class="pay__label">
		<div class="data-block">

			<img src="{{ 'images/logo.png'|asset }}" alt="" height="50">

			<hr>

			<h1>Privacidad y seguridad</h1>

			<p>Toda la información que provee el cliente al momento de registrarse o realizar una compra será tratada con absoluta confidencialidad y privacidad por parte de PixelPay S.A. de C.V.</p>

			<p>PixelPay no hace uso de cookies, ni recopila información sin su consentimiento, esto con el fin de mejorar la seguridad y confidencialidad.</p>

			<p>Pixel S.A. de C.V. se limita a resguardar la siguiente información del cliente:</p>

			<p>Información personal: su nombre, dirección física, numero de teléfono, correo electrónico y numero de identidad.</p>

			<p>Información no personalizada identificable: dirección IP, tipo de navegador, sistema operativo, ISP (Proveedor de Internet), localidad de conexión y paginaciones específicas del sitio web de <b>https://pay.pixel.hn/pixel</b>, que se recopilan para ganar una mejor comprensión de las necesidades del desarrollo del sitio.</p>

			<p>Pixel S.A. de C.V. se limita solamente a mostrar en su plataforma los siguientes datos al mercante <b>Pixel S.A.</b> en cada compra o pago realizado. <b>Pixel S.A.</b> se limita a no recopilar información del cliente a través de PixelPay en <b>https://pay.pixel.hn/pixel</b>.</p>

			<p>PixelPay se limita a envió de datos directo al método de pago a través de un túnel de seguridad, no teniendo acceso a los datos de : numero de tarjeta, cvc y fecha de vencimiento. La seguridad es respaldada por las siguientes marcas:</p>

			<img src="{{ '/cdn/3dsecure.png'|app }}" alt="" height="34">

			<h1>Moneda</h1>

			<p>Los precios en la página web serán desplegados en la moneda local de cada país, los cuales podrán convertirse a <b></b> tomando como base el tipo de cambio del día de la transacción.</p>

			<h1>Limitación de responsabilidades</h1>

			<p>Usted está de acuerdo que no podrá:</p>

			<p>Reproducir, modificar, copiar, distribuir, trasmitir, exhibir o de otra forma, hacer uso comercial de cualquier contenido del sitio web de <b>https://pay.pixel.hn/pixel</b> a menos que tenga consentimiento por escrito de parte de <b>Pixel S.A.</b>.</p>

			<p>Hackear, interferir, dañar, inutilizar, sobrecargar, transmitir gusano o virus o cualquier código de naturaleza destructiva a cualquiera de sus sitios web, o modificar otro sitio web con el fin de implicar falsamente que está asociado o afiliado con los Servicios.</p>

			<p><b>Pixel S.A.</b> no es responsable por:</p>

			<p>No garantiza la disponibilidad ininterrumpida del sitio, o que este servicio funcionará a tiempo, en forma segura y sin error.</p>

			<p>Cualquier acción o transacción efectuada por un tercero que use su nombre y datos personales, en dado caso por reclamo se llevara a cabo una investigación por parte del método de pago utilizado.</p>

			<p>Quedará exento de toda responsabilidad y liberada del cumplimiento de sus obligaciones, si por razones de caso fortuito o fuerza mayor tales como sismos, cortes de energía eléctrica y/o del servicio telefónico y/o de líneas de transmisión de datos, actos terroristas, huelgas u otros similares, no se pudiere mantener en funcionamiento u operativo la venta del producto o el servicio contratado.</p>

			<h1>Conformidad del usuario</h1>

			<p>Se constituye un acuerdo legal entre cualquier usuario y <b>https://pay.pixel.hn/pixel</b> dándose por entendido que el cliente, antes de solicitar algún servicio o producto a través del sitio, ha revisado, entendido y acordado los términos expuestos en las Políticas de <b>https://pay.pixel.hn/pixel</b>. En caso de inconformidad, el usuario deberá abstenerse de proporcionar información personal, así como de levantar algún requerimiento comercial.</p>

			<h1>Comunicación</h1>

			<p>Para cualquier duda o comentario con respecto a estas políticas se puede contactar con <b>Pixel S.A.</b> a la dirección de correo electrónico <b>info@pixel.hn</b>, o a los número(s) de teléfono: <b>+(504) 9437-0956</b>.</p>

			<p><b>Pixel S.A.</b>,</p>

			<p><b>Barrio Los Andes, 5 y 6 calle, Avenida Circunvalación, contiguo al Parqueo de Comisariato Los Andes</b></p>

		</div>
	</div>
</div>
<style>
	html{
		font-size: 90%;
	}
	.data-block{
		max-width: 600px;
		margin: 50px auto;
	}
</style>
{% endblock %}