<div class="no-content">
	<div class="no-content-block">
		<h2>{{ 'frontend.upps'|trans }}</h2>
		<img src="{{ 'images/icons/404-icon.png'|asset }}" alt="" style="margin-bottom: 25px">
		<h5>{{ 'frontend.404'|trans }}</h5>
	</div>
</div>

<script>
	$(function() {
		Pixel.setSize($('.pixel__modal-preview'), 'medium');
	});
</script>