.header{
	padding: 50px 10px;
}

[block] span{
	background: #ccc;
	border-radius: 6px;
	color: transparent;
	margin-right: 20px;
	letter-spacing: 5px;
}

p[block]{
	word-break: break-all;
}

p[block] span{
	float: left;
	margin-bottom: 10px;
	font-size: 12px;
}

.block{
	background: #ccc;
	border-radius: 6px;
	width: 100%;
	display: block;
	height: 180px;
}

.block.big{
	height: 400px;
}

pre{
	padding: 10px 16px;
    color: #ffffff;
    border-radius: 3px;
    background-color: #2B3E4F;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}