@font-face {
  font-family: 'font-fileuploader';
  src:  url('../fonts/font-fileuploader.eot?l2vub3');
  src:  url('../fonts/font-fileuploader.eot?l2vub3#iefix') format('embedded-opentype'),
        url('../fonts/font-fileuploader.ttf?l2vub3') format('truetype'),
        url('../fonts/font-fileuploader.woff?l2vub3') format('woff'),
        url('../fonts/font-fileuploader.svg?l2vub3#font-fileuploader') format('svg');
  font-weight: normal;
  font-style: normal;
}

legend {
	border-bottom: 1px dashed #eee;
	margin-top: 32px;
	margin-bottom: 12px;
}

hr {
	border-color: #eee;
}

.alert-info {
	margin-top: 12px;
}

.stepwizard-step p {
	margin-top: 10px;
}

.stepwizard-row {
	display: table-row;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.stepwizard {
	display: table;
	width: 100%;
	position: relative;
	margin-bottom: 20px;
}

.stepwizard-step button[disabled] {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
	top: 29px;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 100%;
	height: 2px;
	background-color: #eee;
	border-radius: 3px;
	z-order: 0;
}

.stepwizard-step {
	display: table-cell;
	text-align: center;
	position: relative;
}

.btn-circle {
	width: 56px;
	height: 56px;
	text-align: center;
	padding: 14px 0;
	font-size: 16px;
	line-height: 1.428571429;
	border: 2px solid #eee;
	border-radius: 28px;
	background-color: #FFF !important;
}

.btn-circle:hover {
	border-width: 2px !important;
}

.btn-circle.active {
	border: 2px solid #9b4dca !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(155, 77, 202, 0.6);
}

.stepwizard .btn.disabled {
	opacity: 1;
}

.stepwizard .btn-circle.valid {
	border: 2px solid #00BC9E !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 188, 158, 0.6);
}

.btn-circle.btn-primary img {
	opacity: 1;
}

.btn-circle.btn-primary:hover {
	background-color: #FFF !important;
}

.btn-circle[disabled] img {
	opacity: 0.4;
}

.setup-content .control-label {
	margin-bottom: 4px;
	font-size: 14px;
}

.form-control {
	display: block;
	width: 100%;
	padding: .5rem .75rem;
	font-size: 1rem;
	line-height: 1.25;
	color: #464a4c;
	background-color: #fff;
	background-image: none;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: .25rem;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;

	border: 2px solid #eee;
	font-family: 'Gotham Rounded', sans-serif;
}

select.form-control {
	background-color: #fff !important;
	background-image: url(../images/dropdown.png);
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
}

.form-control:focus {
	border-color: #9b4dca;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(155, 77, 202, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(155, 77, 202, 0.6);
}

.radio-selector input {
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.radio-selector.small label {
	width: 110px;
	height: 50px;
}

.radio-selector label {
	cursor: pointer !important;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	width: 110px;
	height: 42px;
	margin-right: 10px;
	margin-bottom: 5px;
	float: left;
	opacity: .3;
	-webkit-transition: all .1s ease-in;
	transition: all .1s ease-in;
}

.radio-selector input:checked+label {
	opacity: 1;
}

.radio-selector.small label img {
	height: 50px;
	cursor: pointer !important;
}

.radio-selector label img {
	-webkit-box-shadow: 0 28px 25px -30px #fff, 1px 1px 1px rgba(0, 0, 0, .1);
	box-shadow: 0 28px 25px -30px #fff, 1px 1px 1px rgba(0, 0, 0, .1);
	border-radius: 4px;
	height: 42px;
}

.progress-container {
	display: block;
	width: 600px;
	margin: 100px auto;
}

.btn-default {
	border: 2px solid #E4E5E8;
	color: #585858 !important;
}

.btn-default:hover {
	-webkit-box-shadow: 0px 3px 12px rgba(238, 238, 238, 0.5);
	box-shadow: 0px 3px 12px rgba(238, 238, 238, 0.5);
}

.btn-hero {
	font-family: 'Gotham Rounded', sans-serif;
	border: 2px solid #3326AF;
	background-color: #3326AF;
	color: #FFFFFF !important;
}

.btn-hero:hover {
	cursor: pointer;
	border: 2px solid rgba(51, 38, 175, 0.9) !important;
	background-color: rgba(51, 38, 175, 0.9);
	-webkit-box-shadow: 0px 3px 12px rgba(238, 238, 238, 0.5);
	box-shadow: 0px 3px 12px rgba(238, 238, 238, 0.5);
}

/*
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */
@-webkit-keyframes passing-through {
	0% {
		opacity: 0;
		-webkit-transform: translateY(40px);
		-moz-transform: translateY(40px);
		-ms-transform: translateY(40px);
		-o-transform: translateY(40px);
		transform: translateY(40px);
	}

	30%,
	70% {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-40px);
		-moz-transform: translateY(-40px);
		-ms-transform: translateY(-40px);
		-o-transform: translateY(-40px);
		transform: translateY(-40px);
	}
}

@-moz-keyframes passing-through {
	0% {
		opacity: 0;
		-webkit-transform: translateY(40px);
		-moz-transform: translateY(40px);
		-ms-transform: translateY(40px);
		-o-transform: translateY(40px);
		transform: translateY(40px);
	}

	30%,
	70% {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-40px);
		-moz-transform: translateY(-40px);
		-ms-transform: translateY(-40px);
		-o-transform: translateY(-40px);
		transform: translateY(-40px);
	}
}

@keyframes passing-through {
	0% {
		opacity: 0;
		-webkit-transform: translateY(40px);
		-moz-transform: translateY(40px);
		-ms-transform: translateY(40px);
		-o-transform: translateY(40px);
		transform: translateY(40px);
	}

	30%,
	70% {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-40px);
		-moz-transform: translateY(-40px);
		-ms-transform: translateY(-40px);
		-o-transform: translateY(-40px);
		transform: translateY(-40px);
	}
}

@-webkit-keyframes slide-in {
	0% {
		opacity: 0;
		-webkit-transform: translateY(40px);
		-moz-transform: translateY(40px);
		-ms-transform: translateY(40px);
		-o-transform: translateY(40px);
		transform: translateY(40px);
	}

	30% {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@-moz-keyframes slide-in {
	0% {
		opacity: 0;
		-webkit-transform: translateY(40px);
		-moz-transform: translateY(40px);
		-ms-transform: translateY(40px);
		-o-transform: translateY(40px);
		transform: translateY(40px);
	}

	30% {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@keyframes slide-in {
	0% {
		opacity: 0;
		-webkit-transform: translateY(40px);
		-moz-transform: translateY(40px);
		-ms-transform: translateY(40px);
		-o-transform: translateY(40px);
		transform: translateY(40px);
	}

	30% {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}

	10% {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
	}

	20% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

@-moz-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}

	10% {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
	}

	20% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}

	10% {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
	}

	20% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

.fileuploader-theme-dragdrop{
	margin-top: 0px !important;
	background: #fff !important;
    border: 2px dashed #eee;
}

.fileuploader-theme-dragdrop .fileuploader-input {
    display: block;
    padding: 12px;
    border-radius: 6px;
    text-align: center;
}

.fileuploader-theme-dragdrop .fileuploader-input img,
.fileuploader-theme-dragdrop .fileuploader-input .fileuploader-main-icon {
    display: block;
    font-size: 56px;
	margin: 0 auto;
	margin-bottom: 0px;
	color: #494d55;
	opacity: 0.75;
    -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
}
.fileuploader-theme-dragdrop .fileuploader-input h3 {
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    background: none;
    border: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #494d55;
    white-space: normal;
    opacity: 0.75;
}
.fileuploader-theme-dragdrop .fileuploader-input p {
    margin: 0;
    padding: 0;
    color: #90a0bc;
    margin-bottom: 12px;
}

/* dragging state */
.fileuploader-theme-dragdrop .fileuploader-input .fileuploader-input-inner,
.fileuploader-theme-dragdrop .fileuploader-input.fileuploader-dragging .fileuploader-main-icon {
    -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
}
.fileuploader-theme-dragdrop .fileuploader-input.fileuploader-dragging .fileuploader-input-inner {
    opacity: 0.6;
}    
.fileuploader-theme-dragdrop .fileuploader-input.fileuploader-dragging .fileuploader-main-icon {
    -webkit-transform: translateY(18px);
    		transform: translateY(18px);
}
.fileuploader-theme-dragdrop .fileuploader-input.fileuploader-dragging .fileuploader-input-button {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
}

.plan-seletor{

}

.plan-selector > input {
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.plan-selector > label {
	cursor: pointer !important;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #FFF;
	display: block;
	-webkit-transition: all .1s ease-in;
	transition: all .1s ease-in;

	opacity: 0.8;
	min-height: 200px;
	border-radius: 6px;
	border: 3px solid #eee;
	padding: 40px 25px 12px;
}

.plan-selector > label:hover{
	opacity: 1;
	border-color: #ddd;
	-webkit-box-shadow: 0 0 8px rgba(238, 238, 238, 0.6);
	box-shadow: 0 0 8px rgba(238, 238, 238, 0.6);
}

.plan-selector > input:checked+label {
	opacity: 1;
	border-color: #9b4dca;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(155, 77, 202, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(155, 77, 202, 0.6);
}

.plan-selector > label > h6{
	display: block;
}

.plan-selector > label ul{
	padding-left: 18px;
}

.plan-selector > label > .alert{
	display: inline-block;
	margin-top: 16px;
}

.plan-selector > label legend{
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 16px;
}

.summary{
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #FFF;
	display: block;
	-webkit-transition: all .1s ease-in;
	transition: all .1s ease-in;

	min-height: 200px;
	border-radius: 6px;
	border: 3px solid #eee;
	padding: 40px 25px;
}

.summary .form-group{
	display: block;
	margin: 0px;
	margin-top: 20px; 
}

.summary .form-group label{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
}

.summary .form-group p{
	opacity: 0.8;
	font-size: 16px;
	line-height: 16px;
	margin: 0px;
	margin-bottom: 6px;
}

.summary .form-group small{
	display: block;
	color: #8297D5;
}

.summary-payment{
	padding: 32px 10px;
}

.success-register{
	padding: 50px 10px;
	background-image: url(../images/bg_icons_checkout.png);
	background-size: 600px 538px;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	max-width: 600px;
	min-height: 420px;
	display: block;
	margin: 0 auto;
}

.success-register img{
	display: block;
	margin: 0px auto 20px;
}

.success-register h5{
	max-width: 400px;
	display: block;
	margin: 10px auto 0px;
}

.success-register a{
	margin-top: 20px;
}

.summary-payment h1{
	font-size: 56px;
	color: #00AE69;
	margin-top: 20px;
}

a.link{
	text-decoration: none;
	border-bottom: 1px dashed;
}