.control-chart {
	text-align: left;
}
.control-chart div.canvas {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
}
.control-chart div.canvas span.center {
	position: absolute;
	display: block;
	text-align: center;
	width: 100%;
	top: 50%;
	margin-top: -21px;
	font-size: 30px;
	font-weight: 100;
	color: #666666;
	z-index: 9;
}
.control-chart div.canvas svg {
	z-index: 10;
}
.control-chart.full-width div.canvas {
	margin-right: 0 !important;
}
.control-chart ul {
	display: inline-block;
	height: inherit;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	vertical-align: top;
}
.control-chart ul li {
	width: 120px;
	white-space: normal;
	display: block;
	text-transform: uppercase;
	color: #405261;
	font-weight: 500;
	font-size: 12px;
	margin-bottom: 10px;
}
.control-chart ul li span {
	float: right;
	font-weight: 800;
}
.control-chart ul li:last-child {
	margin-bottom: 0;
}
.control-chart div.chart-legend {
	display: inline-block;
	vertical-align: top;
	text-align: left;
}
.control-chart div.chart-legend table {
	font-size: 12px;
	color: #666666;
}
.control-chart div.chart-legend table tr td {
	padding: 0 0 7px 0;
	vertical-align: top;
}
.control-chart div.chart-legend table tr td.value {
	padding-left: 10px;
	font-weight: 600;
}
.control-chart div.chart-legend table tr td i {
	display: inline-block;
	width: 13px;
	height: 13px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-indent: -100000em;
	margin-right: 5px;
	position: relative;
	top: 2px;
}
.control-chart div.chart-legend table tr td.indicator {
	width: 20px;
}
.control-chart div.chart-legend table tr:last-child td {
	padding-bottom: 0;
}
.control-chart .canvas {
	margin-right: 20px;
	display: inline-block;
}
.control-chart.centered {
	text-align: center;
}
.control-chart.centered .canvas {
	margin-right: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.control-chart.wrap-legend div.chart-legend table tr {
	display: inline-block;
	white-space: nowrap;
	margin-right: 20px;
}
.control-chart.wrap-legend div.chart-legend table tr:last-child td {
	padding-bottom: 7px;
}
.report-container .wrapped .control-chart {
	text-align: left;
}
.report-container .wrapped .control-chart .canvas {
	margin-right: 20px;
	display: inline-block;
}
.report-container .title-value {
	margin-top: -18px;
}
.report-container .title-value p {
	font-weight: 100;
	font-size: 40px;
}
.report-container .title-value p.description {
	font-size: 12px;
	margin-top: 9px;
}
.report-container .title-value p:before {
	font-size: 30px;
	margin-right: 10px;
}
.report-container .title-value p.negative:after,
.report-container .title-value p.positive:after {
	top: -8px;
}
.report-container .title-value span.goal-meter-indicator {
	height: 31px;
	top: 4px;
	width: 15px;
	margin-right: 10px;
}
.report-container .title-value span.goal-meter-indicator span {
	width: 15px;
}
.control-status-list > ul {
	margin-bottom: 0;
	padding: 0;
}
.control-status-list > ul li {
	margin: 0;
	padding: 7px 15px 6px;
	list-style: none;
	display: block;
	font-size: 13px;
	color: #7e8c8d;
	border-bottom: 1px solid #f0f0f0;
}
.control-status-list > ul li:last-child {
	border-bottom: none;
}
.control-status-list > ul li a {
	color: #7e8c8d;
	text-decoration: none;
}
.control-status-list > ul li a:hover {
	color: #0181b9;
	text-decoration: none;
}
.control-status-list > ul li .status-text {
	margin: 0 5px;
}
.control-status-list > ul li .status-text.muted {
	color: #999999;
}
.control-status-list > ul li .status-text.primary {
	color: #34495e;
}
a.control-status-list > ul li .status-text.primary:hover {
	color: #222f3d;
}
.control-status-list > ul li .status-text.success {
	color: #3c763d;
}
a.control-status-list > ul li .status-text.success:hover {
	color: #2b542c;
}
.control-status-list > ul li .status-text.info {
	color: #31708f;
}
a.control-status-list > ul li .status-text.info:hover {
	color: #245269;
}
.control-status-list > ul li .status-text.warning {
	color: #8a6d3b;
}
a.control-status-list > ul li .status-text.warning:hover {
	color: #66512c;
}
.control-status-list > ul li .status-text.danger {
	color: #a94442;
}
a.control-status-list > ul li .status-text.danger:hover {
	color: #843534;
}
.control-status-list > ul li .status-label {
	float: right;
	display: inline-block;
	padding: 1px 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.control-status-list > ul li .status-label:not(.link) {
	color: white;
	letter-spacing: 1px;
}
.control-status-list > ul li .status-icon {
	display: inline-block;
	text-align: center;
	color: white;
	width: 22px;
	height: 22px;
	position: relative;
	top: -1px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}
.control-status-list > ul li .status-icon > i {
	font-size: 10px;
	line-height: 22px;
}
.control-status-list > ul li .status-icon,
.control-status-list > ul li .status-label {
	background: #aaa;
}
.control-status-list > ul li .status-icon.success,
.control-status-list > ul li .status-label.success {
	background: #31ac5f;
}
.control-status-list > ul li .status-icon.primary,
.control-status-list > ul li .status-label.primary {
	background: #34495e;
}
.control-status-list > ul li .status-icon.warning,
.control-status-list > ul li .status-label.warning {
	background: #f0ad4e;
}
.control-status-list > ul li .status-icon.danger,
.control-status-list > ul li .status-label.danger {
	background: #ab2a1c;
}
.control-status-list > ul li .status-icon.info,
.control-status-list > ul li .status-label.info {
	background: #5bc0de;
}
.control-status-list > ul li .status-icon.link,
.control-status-list > ul li .status-label.link {
	background: transparent;
}
.gecko .control-status-list > ul li span.status.circle {
	top: -2px;
}
.report-container .control-status-list > ul {
	margin: -15px;
}
.control-toolbar {
	font-size: 0;
	padding: 0 0 20px 0;
	position: relative;
	display: table;
	table-layout: fixed;
	width: 100%;
}
.control-toolbar:after,
.control-toolbar:before {
	display: none;
	position: absolute;
	top: 50%;
	margin-top: -7px;
	height: 9px;
	font-size: 10px;
	color: #bbbbbb;
}
.control-toolbar:before {
	left: -6px;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	*margin-right: .3em;
	content: "\f104";
}
.control-toolbar:after {
	right: -8px;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	*margin-right: .3em;
	content: "\f105";
}
.control-toolbar.scroll-before:before {
	display: block;
}
.control-toolbar.scroll-after:after {
	display: block;
}
.control-toolbar:before {
	left: -10px;
}
.control-toolbar:after {
	right: -8px;
}
.control-toolbar .toolbar-item {
	position: relative;
	white-space: nowrap;
	display: table-cell;
	vertical-align: top;
	padding-right: 20px;
}
.control-toolbar .toolbar-item:last-child,
.control-toolbar .toolbar-item.last {
	padding-right: 0;
}
.control-toolbar .toolbar-item:after,
.control-toolbar .toolbar-item:before {
	display: none;
	position: absolute;
	top: 50%;
	margin-top: -7px;
	height: 9px;
	font-size: 10px;
	color: #bbbbbb;
}
.control-toolbar .toolbar-item:before {
	left: -6px;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	*margin-right: .3em;
	content: "\f104";
}
.control-toolbar .toolbar-item:after {
	right: -8px;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	*margin-right: .3em;
	content: "\f105";
}
.control-toolbar .toolbar-item.scroll-before:before {
	display: block;
}
.control-toolbar .toolbar-item.scroll-after:after {
	display: block;
}
.control-toolbar .toolbar-item:before {
	left: -10px;
}
.control-toolbar .toolbar-item:after {
	right: 6px;
}
.control-toolbar .toolbar-item .btn,
.control-toolbar .toolbar-item .btn-group,
.control-toolbar .toolbar-item .dropdown {
	white-space: nowrap;
	float: none;
	display: inline-block;
	margin-right: 10px;
}
.control-toolbar .toolbar-item .btn:last-child,
.control-toolbar .toolbar-item .btn-group:last-child,
.control-toolbar .toolbar-item .dropdown:last-child {
	margin-right: 0;
}
.control-toolbar .toolbar-item .btn.standalone,
.control-toolbar .toolbar-item .btn-group.standalone,
.control-toolbar .toolbar-item .dropdown.standalone {
	margin-right: 15px;
}
.control-toolbar .toolbar-item .dropdown > .btn {
	margin-right: 0;
}
.control-toolbar .toolbar-item .btn-group > .btn,
.control-toolbar .toolbar-item .btn-group > .dropdown {
	margin-right: 0;
	display: inline-block;
	float: none;
}
.control-toolbar .toolbar-item .btn-group .dropdown > .btn {
	margin-right: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.control-toolbar .toolbar-item .btn-group .dropdown.last > .btn {
	border-bottom-right-radius: 3px !important;
	border-top-right-radius: 3px !important;
}
.control-toolbar input.form-control[type=text] {
	height: auto;
	padding: 6px 13px 6px;
}
.control-toolbar.toolbar-padded {
	padding: 20px;
}
[data-control=toolbar] {
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
}
.control-toolbar.editor-toolbar {
	padding: 0;
	background: #f2f2f2;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom: 2px solid #d4d8da;
}
.control-toolbar.editor-toolbar .toolbar-item .btn,
.control-toolbar.editor-toolbar .toolbar-item .btn-group,
.control-toolbar.editor-toolbar .toolbar-item .dropdown {
	margin: 0;
	padding: 0;
}
.control-toolbar.editor-toolbar .toolbar-item .btn {
	text-align: center;
	height: 38px;
	width: 38px;
	line-height: 38px;
	zoom: 1;
	color: rgba(64, 82, 97, 0.8);
	background: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	border-radius: 0;
	font-size: 14px;
}
.control-toolbar.editor-toolbar .toolbar-item .btn > i {
	opacity: 1;
}
.control-toolbar.editor-toolbar .toolbar-item .btn:hover {
	outline: none;
	background-color: #ddd;
	color: #000;
}
.control-toolbar.editor-toolbar .toolbar-item .btn.active,
.control-toolbar.editor-toolbar .toolbar-item .btn:active {
	outline: none;
	background-color: #d6d6d6;
	color: #000;
}
.control-toolbar.editor-toolbar .toolbar-item .btn.disabled,
.control-toolbar.editor-toolbar .toolbar-item .btn[disabled] {
	opacity: 1;
	color: #bdbdbd;
	cursor: default;
	background: transparent;
}
.control-toolbar.editor-toolbar .toolbar-item .dropdown.open .btn {
	background-color: #d6d6d6;
	color: #000;
}
.control-toolbar.editor-toolbar .toolbar-item .btn[class^="oc-icon-"]:before,
.control-toolbar.editor-toolbar .toolbar-item .btn[class*=" oc-icon-"]:before {
	opacity: 1;
	margin: 0;
}
.control-toolbar.editor-toolbar .toolbar-item .btn.oc-autumn-button {
	color: #c03f31;
}
.control-toolbar.editor-toolbar .toolbar-item .btn.oc-autumn-button:hover {
	color: #000 !important;
}
div.scoreboard {
	position: relative;
	padding: 0;
}
div.scoreboard:after,
div.scoreboard:before {
	display: none;
	position: absolute;
	top: 50%;
	margin-top: -7px;
	height: 9px;
	font-size: 10px;
	color: #bbbbbb;
}
div.scoreboard:before {
	left: -6px;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	*margin-right: .3em;
	content: "\f104";
}
div.scoreboard:after {
	right: -8px;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	*margin-right: .3em;
	content: "\f105";
}
div.scoreboard.scroll-before:before {
	display: block;
}
div.scoreboard.scroll-after:after {
	display: block;
}
div.scoreboard:before,
div.scoreboard:after {
	margin-top: -10px;
}
div.scoreboard:before {
	left: 7px;
}
div.scoreboard:after {
	right: 10px;
}
div.scoreboard div.scoreboard-item {
	display: inline-block;
	margin-right: 40px;
	vertical-align: top;
}
div.scoreboard div.scoreboard-item:last-child {
	margin-right: 0;
}
div.scoreboard .control-chart .chart{
	min-width: 66px;
	min-height: 66px;
}
div.scoreboard .control-chart ul {
	margin-left: 0px;
	top: -2px;
}
div.scoreboard .control-chart ul li {
	padding-left: 10px;
}
div.scoreboard .control-chart ul li > i {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	display: inline-block;
	float: left;
	margin-right: 6px;
}
div.scoreboard .control-chart .canvas + ul {
	margin-left: 0;
}
div.scoreboard .scoreboard-offset {
	padding-left: 20px;
}
body.slim-container div.scoreboard {
	padding: 0 20px;
}
