<section class="doc-section" id="start">
	<div class="jumbotron">
		<h1><i class="fas mdi mdi-chart-bar"></i> Panel Principal</h1>
		<p><b>PixelPay</b> es un sistema que le permite realizar cobros en línea con cualquier tarjeta de débito o crédito. El propósito es:</p>
	</div>
</section>